<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "org.jacky.dao.UserDao">

    <resultMap id="BASE_RESULT" type="org.jacky.dao.UserModel">
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

    <select id="getUserById" resultMap="BASE_RESULT">
        SELECT id, username, email, password
        FROM user
        where id = #{userId}
    </select>

</mapper>